// colors
$white: #FFF;
$lightGrayishCyan7E2: #D0E7E2;
$lightGrayishCyanAF9: #f6faf9;
$lightGrayishCyan8F9: #F7F8F9;
$softBlue: #4F86EC;
$darkModerateBlue: #415DAE;
$darkModerateCyan: #469F8B;
$darkCyan: #2C947D;
$softRedLight: #E57F5D;
$softRed: #E26F49;
$grayishBlue: #B9BEC3;
$darkGray: #898989;
$darkGrayishBlue: #8A929B;
$veryDarkBlue: #152536;

// container
$container-padding: 60px;
