<section class="about">
  <div class="about__container container">
    <div class="about__background"></div>
    <div class="about__wrap-content wrap-content">
      <h2 class="wrap-content__title title">What is HomeCooks? </h2>
      <p class="wrap-content__text">We believe in providing the chefs in our community - individuals who have always dreamt of building their own
        food business or sharing their recipes with those around them - the opportunity
        to make an income by doing what they love! We also believe every person should have access to authentic,
        homemade food at an affordable price.</p>
    </div>
  </div>
</section>
