<section class="advantages overflow-hidden">
  <div class="advantages__container container container--position-relative container--background-right-108 container--background-filter-blur-opacity container--background-right-0 container--background-size-437 container--background-image-2 container--background-image container--background-size-contain">
    <h2 class="advantages__title title">Why try homecooks?</h2>

    <ol class="advantages__list-ol list-ol list-ol--font-roboto-700 list-ol--padding-left-min">
      <li class="list-ol__item-ol list-ol__item-ol--left-min">
        <h3 class="list-ol__subtitle subtitle list-ol__subtitle--margin-bottom-big">Support local cooks </h3>
        <p class="list-ol__text list-ol__text--font-roboto-400">Unlike restaurants, you know exactly who is preparing your food and who you’re supporting.</p>
      </li>

      <li class="list-ol__item-ol list-ol__item-ol--left-min">
        <h3 class="list-ol__subtitle subtitle list-ol__subtitle--margin-bottom-big">Explore new cultures</h3>
        <p class="list-ol__text list-ol__text--font-roboto-400">Reconnect with your childhood memories or discover new cultures through traditional, authentic homemade dishes.</p>
      </li>

      <li class="list-ol__item-ol list-ol__item-ol--left-min">
        <h3 class="list-ol__subtitle subtitle list-ol__subtitle--margin-bottom-big">It’s convenient</h3>
        <p class="list-ol__text list-ol__text--font-roboto-400">Enjoy real, homemade food - without sacrificing time - for as little as £5 per meal.</p>
      </li>
    </ol>
  </div>
</section>
