<section class="food-safety">
  <div class="food-safety__container container">
    <div class="food-safety__background"></div>
    <div class="food-safety__wrap-content wrap-content">
      <h2 class="wrap-content__title title">FOOD SAFETY</h2>

      <p class="wrap-content__text">
        We take food safety extremely seriously and are committed to helping ensure that your food will
        always be safe to eat. All HomeCooks applicants are required to provide food safety documentation, as well as
        registration with their local council. If you’re unsure of the procedure - our team will be more than happy to
        provide you with support throughout the process.
      </p>
    </div>
  </div>
</section>
