<footer class="footer">
  <div class="overflow-hidden">
    <div
      class="footer__container container container--position-relative container--background-right-630 container--background-filter-blur-opacity container--background-size-500 container--background-size-109 container--background-image-3 container--background-image">
      <div class="footer__background-image-block"></div>
      <div class="footer__background-color-block "></div>

      <p class="footer__text">HomeCooks</p>

      <h4 class="footer__title">Choose your Log In method</h4>

      <button class="footer__button-external button button--google">
        <span class="button__content button__content--image-google">Continue with Google</span>
      </button>

      <button class="footer__button-external button button--facebook">
        <span class="button__content button__content--image-facebook">Continue with Facebook</span>
      </button>

      <div class="footer__separator separator">
        <div class="separator__line"></div>
        <span class="separator__text">or</span>
        <div class="separator__line"></div>
      </div>

      <form class="footer__authorization-form authorization-form">
        <h4 class="authorization-form__authorization-title">continue with E-mail or phone number</h4>

        <input class="authorization-form__input input" type="text" placeholder="Enter your e-mail or phone number">

        <div class="authorization-form__wrap-input wrap-input">
          <input class="wrap-input__input input" type="text" placeholder="Password">
          <button class="wrap-input__button"></button>
        </div>

        <a class="authorization-form__link" href="#">Forgot your password?</a>

        <button class="authorization-form__button button button--green">Log in</button>

        <div class="authorization-form__sign-up sign-up">
          <p class="sign-up__text">Not a member yet?</p>
          <a class="sign-up__link" href="#">Sign Up</a>
        </div>

        <button class="authorization-form__button button button--orange button--font-weight-900">Sign up</button>
      </form>
    </div>
  </div>
</footer>
