<section class="how-it-works overflow-hidden">
  <div class="how-it-works__container container container--position-relative container--background-right-108 container--background-right-0 container--background-size-437 container--background-image-1 container--background-image">
    <h2 class="how-it-works__title title">How it works:</h2>

    <ol class="how-it-works__list-ol list-ol">
      <li class="list-ol__item-ol">
        <h3 class="list-ol__subtitle subtitle">Explore chefs in your neighbourhood</h3>
        <p class="list-ol__text">Get authentic, homemade food prepared locally, by approved chefs</p>
      </li>

      <li class="list-ol__item-ol">
        <h3 class="list-ol__subtitle subtitle">Place your order </h3>
        <p class="list-ol__text">Order in advance so your chef can buy fresh ingredients, and cook to order.</p>
      </li>

      <li class="list-ol__item-ol">
        <h3 class="list-ol__subtitle subtitle">Get your delivery</h3>
        <p class="list-ol__text">Dishes arrive at your door refrigerated at a time that suits you. Just heat up and enjoy!</p>
      </li>
    </ol>
  </div>
</section>
