<section class="meet-the-chefs">
  <div class="meet-the-chefs__container container">
    <h2 class="meet-the-chefs__title title">Meet the chefs:</h2>

    <ul class="meet-the-chefs__chefs-list chefs-list">
      <li class="chefs-list__chef chef">
        <h3 class="chef__subtitle subtitle">John</h3>

        <p class="chef__descr">After 7 years working as a professional chef - I know now that cooking is my real, true passion! I love trying
          new recipes, improving my skills and sharing my food with new people. For me, cooking is a pinch of magic, a big
          spoon of love, topped with art - and of course fresh ingredients!
        </p>

        <img class="chef__img" src="img/image-5.jpg" alt="John">

        <ul class="chef__food-list food-list">
          <li class="food-list__item">
            <img class="food-list__img" src="img/image-3.jpg" alt="Name food">
            <h4 class="food-list__subtitle">Name food</h4>
            <p class="food-list__text">short description (3-5 words)</p>
          </li>

          <li class="food-list__item">
            <img class="food-list__img" src="img/image-4.jpg" alt="Name food">
            <h4 class="food-list__subtitle">Food</h4>
            <p class="food-list__text">very tasty food</p>
          </li>
        </ul>
      </li>

      <li class="chefs-list__chef chef">
        <h3 class="chef__subtitle chef__subtitle--right subtitle">Kate</h3>

        <p class="chef__descr chef__descr--right ">
          My name is Kate and I am a North Londoner born and bred! I have had an appetite for cooking since I was 6 years
          old - it all started with my Grandma teaching me the basics, cooking from scratch and using lots of fresh
          ingredients.I love big flavours and traditional methods of cookery - I believe that food made with love tastes
          so much better!
        </p>

        <img class="chef__img chef__img--left" src="img/image-6.jpg" alt="John">

        <ul class="chef__food-list food-list">
          <li class="food-list__item food-list__item--order-2">
            <img class="food-list__img" src="img/image-3.jpg" alt="Name food">
            <h4 class="food-list__subtitle">Food</h4>
            <p class="food-list__text">very tasty food</p>
          </li>

          <li class="food-list__item food-list__item--order-1">
            <img class="food-list__img" src="img/image-4.jpg" alt="Name food">
            <h4 class="food-list__subtitle">Food</h4>
            <p class="food-list__text">very tasty food</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
