<section class="reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title title">What our customers say:</h2>

    <ul class="reviews__list-reviews list-reviews">
      <li class="list-reviews__item-review">
        <div class="item-review__reviewer reviewer">
          <img class="reviewer__img" src="img/image-10.png" alt="Roz F">
          <p class="reviewer__text">Roz F</p>
        </div>

        <p class="item-review__descr">
          I love the diversity of food - cooked in small batches by fantastic, local chefs and then delivered! The food
          is very different to traditional takeaways and always feels freshly cooked with pride and love.
        </p>
      </li>

      <li class="list-reviews__item-review">
        <div class="item-review__reviewer reviewer">
          <img class="reviewer__img" src="img/image-11.png" alt="Gina J">
          <p class="reviewer__text">Gina J</p>
        </div>

        <p class="item-review__descr">
          The food is amazing, everyone is incredibly kind - and there is a great variety of food, all so skilfully prepared! It feels like a homely community!
        </p>
      </li>

      <li class="list-reviews__item-review">
        <div class="item-review__reviewer reviewer">
          <img class="reviewer__img" src="img/image-12.png" alt="Nina H">
          <p class="reviewer__text">Nina H</p>
        </div>

        <p class="item-review__descr">
          It’s great being the opportunity to try food that I would likely not encounter unless I was abroad! Many dishes take me back to my childhood memories - and I love supporting local chefs
        </p>
      </li>
    </ul>
  </div>
</section>
